group Internal
    source http://192.168.11.3:8087/nuget/Libraries

group External
    source https://api.nuget.org/v3/index.json
    nuget Microsoft.NET.Test.Sdk
    nuget NLog
    nuget NUnit
    nuget NUnit3TestAdapter
    nuget System.Data.SqlClient